<div class="overlay">

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <app-quotes-form (add)="addNewQuote($event)"></app-quotes-form>
      </div>
      <div class="col-sm-9">
        <div class="all-cards">
          <div *ngFor="let quote of quotes let i= index" class="card" style="width: 24rem;"  >
            <div class="card-body">
              <h4 class="card-title" appHighlight>{{quote.title}} {{quote.upvotes}}<button (click)='toggleDetails(i)' class="btn btn-info btn-sm" id="quotes-button" >See More</button></h4>
              <p class="card-text" id="param">{{quote.quote}}</p>
              <app-quotes-detail *ngIf='quote.showInfo' [quotes]='quote' (isRead)='deleteQuote($event,i)'></app-quotes-detail>
              <span class="card-subtitle mb-2">Posted by: <span id="name">{{quote.name}}</span><span id="date">on: <span id="datecolor">{{quote.datePosted|date:'short'}}</span></span></span>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
