h1{
  text-align: center;
  font-weight: bolder;
  padding-top: 2%;
  padding-bottom: 2%;
  color:rgba(236, 243, 227, 0.658);
  font-family: 'Goblin One', cursive;
}

.all-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.overlay{
  background-color: rgba(12, 89, 92, 0.534);
  background-size: cover;
  border-radius: 4px;
  margin-top: 4%;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 5%;
  padding-top: 1%;
  padding-left: 1%;
  padding-bottom: 2%;
}
#name{
  color:rgb(182, 31, 31);
  font-weight: 700;
}
#quotes-button{
  float: right;
}
.title{
  color: rgb(184, 126, 19);
}
.card{
  margin-bottom: 2%;
  background-color: rgb(189, 219, 106);
  box-shadow: 2px 2px 3px 2px black;
}
#date{
  float: right;
  font-size: 14px;
}
#datecolor{
  color: rgb(54, 5, 56);
  font-weight: 700;
}
.card-text{
  font-family: 'Handlee', cursive;
  font-weight: 570;
  font-size: 18px;
}
